doctype html
html
    head
        title Board
        link(rel="stylesheet", href="../css/styles.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap")
    body
        .board
            .board__col-1
                block content

            .board__col-2